@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(183, 221, 255, 0.669) 0%,
    rgba(250, 250, 250, 1) 100%
  );
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  background: rgb(255, 255, 255);

  background: rgba(255, 255, 255, 0.073) url('/assets/images/bg-coiner.png')
    center center/cover repeat fixed;
  z-index: -1;
}

.footer-copyright {
  font-size: 0.8rem;
  color: #fff;
}
.header {
  font-family: 'Roboto', sans-serif;
  background: rgb(183, 221, 255);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(183, 221, 255) 79%
  );
  box-sizing: border-box;
  padding: 2rem !important;
  margin: 0 !important;
  width: 100%;
  min-height: 65vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  background: rgba(255, 255, 255, 0.073) url('/assets/images/bg-coiner.png')
    center center/cover repeat fixed;
  z-index: -1;
}

.navbar li {
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
}
.navbar,
.menu {
  position: relative;
  background: rgb(255, 255, 255) !important;
  opacity: 1;
}

.navbar-footer {
  background: transparent !important;
}

.navbar-footer li {
  margin: 0 0.5rem;
}
.boton {
  background: rgb(12 78 139);
  padding: 0.5rem;
  border-radius: 8px;
  color: #fff;
}

.notFound {
  font-size: 2rem;
  color: rgb(12 78 139);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.notFound span {
  font-weight: lighter;
  font-size: 2.5rem;
  color: #1987ed;
}

.btn {
  margin-top: 1.4rem;
  background: #0c4e8b;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

input {
  border-radius: 8px;
  border: 1px solid #0c4e8b;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #0c4e8b;
}

.contenedor-aviso {
  padding: 1rem;
  text-align: left;
  max-width: 1080px;
  width: 100%;
  
}
.contenedor-aviso h1,
.contenedor-aviso h2 {
  text-align: center;
}
.contenedor-aviso p {
  margin-top: 1rem !important;
  text-align: justify !important;
  color: #0c4e8b !important;
}
.contenedor-aviso ol.k {
  list-style-type: lower-alpha !important;
}
.contenedor-aviso .titulo {
  text-align: left;
  font-weight: bold;
}
.contenedor-aviso p.final {
  text-align: right !important;
}
.contenedor-aviso strong {
  font-weight: bold !important;
}

.contenedor-aviso ol,
ul {
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  margin: 0 0 0 0.3rem;
  font-weight: bold;
}

.constancia {
  margin-top: 1rem;
  text-align: center;
}
.constancia p {
  margin: 0;
  font-size: 1.4rem;
  max-width: 640px;
font-weight: lighter !important;
  margin: 0 auto;
}

.constancia h2 {
  font-size: 1.4rem;
  max-width: 640px;

  margin: 0 auto;
}


.constancia h1 {
 border-bottom: 1px solid #0c4e8b;
  padding: 0.5rem;
  color: #0c4e8b;
  max-width: 640px;
  margin: 0 auto;
}

.botonImp{
  background: #0c4e8b;
  padding: 0.5rem;
  position: absolute;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
  top: 0;
  margin-left: 1rem;
}


.headerc {
  font-family: 'Roboto', sans-serif;
  background: rgb(183, 221, 255);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(183, 221, 255) 79%
  );
  box-sizing: border-box;
  padding: 2rem !important;
  margin: 0 !important;
  width: 100%;
  min-height: 65vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.headerc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  background: rgba(255, 255, 255, 0.073) 
    center center/cover repeat fixed;
  z-index: -1;
}